@{

ViewBag.Title = "Contact";
}

<div class="container-fluid p-0">

    <!-- Interests-->

    <section class="resume-section" id="interests">
        <div class="resume-section-content">
            <h1 class="mb-0">
                Ashley
                <span class="text-primary">N.</span>
                Smith
            </h1>
            <h2 class="mb-5">Contact Information</h2>
            <section>
                <div>

                    <section class="subheading mb-5">
                        <ul>
                            <li>Phone: <a href="tel:+18167164300">(816) 716-4300</a></li>
                            <li>Email: <a href="mailto:name@email.com">AsAshley21@gmail.com</a></li>
                            <li>Twitter: <a href="https://twitter.com/AshleyS59830445" target="_blank">AshleySmith</a></li>
                            <!--<li>Facebook: <a href="https://www.facebook.com/friends/suggestions/?profile_id=652533308" target="_blank">AshleyNicholeLea</a></li>-->
                            <li>Linkedin: <a href="https://www.linkedin.com/in/ashley-nichole92/" target="_blank">Ashley-nichole92</a></li>
                            <li>Adress: Blue Springs, MO</li>
                        </ul>
                    </section>

                    <div class="social-icons">
                        <a class="social-icon" href="https://www.linkedin.com/in/ashley-nichole92/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                        <a class="social-icon" href="https://github.com/AshleyNichole1" target="_blank"><i class="fab fa-github"></i></a>
                        <a class="social-icon" href="https://twitter.com/AshleyS59830445" target="_blank"><i class="fab fa-twitter"></i></a>
                        <!--<a class="social-icon" href="https://www.facebook.com/friends/suggestions/?profile_id=652533308" target="_blank"><i class="fab fa-facebook-f"></i></a>-->
                    </div>
                </div>
            </section>

        </div>
    </section>
    <hr class="m-0" />



    @model PersonalsiteConverted.Models.ContactAction

    @{
        ViewBag.Title = "Contact Action";
    }

    <h2>@ViewBag.Title </h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Message, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Message, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Subject, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Subject, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Subject, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-dark" />
                </div>
            </div>
        </div>
    }

    @if (ViewBag.CustomerMessage != null)
    {
        <h4>@Html.Raw(ViewBag.CustomerMessage)</h4>
    }
    @section Scripts{
        @Scripts.Render("~/budles/jqueryval")
    }

</div>